button {
    width: 150px;
    height: 50px;
    background-color: hsl(39, 74%, 72%);
    color: hsl(236, 75%, 51%)
}

button:hover {
    width: 150px;
    height: 50px;
    background-color: hsl(39, 74%, 77%);
}

button:active {
    width: 150px;
    height: 50px;
    background-color: hsl(39, 74%, 82%);
}